<div class="container">
<h2>Enter new pets information</h2>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" ng-model="vm.pet.name" id="name" placeholder="Enter pet's name">
    </div>
    <div class="form-group">
        <label for="price">Pet's Price:</label>
        <input type="text" class="form-control" ng-model="vm.pet.price" id="price" placeholder="Enter pet's price">
    </div>

    <div class="form-group">
        <label for="description">Pet's Description:</label>
        <textarea class="form-control" ng-model="vm.pet.description" rows="10" id="description" placeholder="Describe this pet"></textarea>
    </div>

    <div class="form-group">
        <label for="contactInfo">Contact info:</label>
        <textarea class="form-control" ng-model="vm.pet.contactInfo" rows="3" id="contactInfo" placeholder="Enter contact info"></textarea>
    </div>


    <div ng-if="vm.showPhotos()">
        <div class="row">
            <div class="col-md-2" ng-repeat="photo in vm.pet.images track by $index">
                <img class="thumbnail small-height" ng-src="data:image/jpeg;base64, {{photo}}">
                <a href="#/pets/{{pet.id}}" ng-click="vm.removeImage(photo)">Remove</a>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="vm.updatePet(vm.pet);">Submit</button>
    <button class="btn btn-info" ng-click="vm.cancel();">Cancel</button>
</form>

</div>