<div class="container">
<h2>Enter new pets information</h2>
<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" ng-model="vm.pet.name" id="name" placeholder="Enter pet's name">
    </div>
    <div class="form-group">
        <label for="motto">Pet's Motto:</label>
        <input type="text" class="form-control" ng-model="vm.pet.motto" id="motto" placeholder="Enter pet's motto">
    </div>
    <div class="form-group">
        <label for="description">Pet's Description:</label>
        <input type="text" class="form-control" ng-model="vm.pet.description" id="description" placeholder="Describe this pet">
    </div>


    <div ng-if="vm.showPhotos()">
        <div class="row">
            <div class="col-md-2" ng-repeat="photo in vm.pet.images track by $index">
                <img class="thumbnail small-height" ng-src="data:image/jpeg;base64, {{photo}}">
                <a href="#/pets/{{pet.id}}" ng-click="vm.removeImage(photo)">Remove</a>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="vm.updatePet(vm.pet);">Submit</button>
    <button class="btn btn-info" ng-click="vm.cancel();">Cancel</button>
</form>

</div>