<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <label for="searchQuery">Search:</label>
            <input ng-model="vm.query" class="form-control" id="searchQuery">

            <label for="sortType">Sort by:</label>
            <select ng-model="vm.orderProp" class="form-control" id="sortType">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

            <div class="nav">
                <button type="button" ng-click="vm.addPet()" class="btn btn-info">Add New Pet</button>
            </div>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="pets">
                <li ng-repeat="pet in vm.pets | filter:vm.query | orderBy:vm.orderProp" class="thumbnail pet-listing">
                    <a href="#/pets/{{pet.id}}" class="thumb"><img ng-src="data:image/jpeg;base64, {{pet.images[0]}}"></a>
                    <a href="#/pets/{{pet.id}}">{{pet.name}}</a>
                    <p>{{pet.motto}}</p>
                    <a href="#/petEdit/{{pet.id}}">Edit</a>
                </li>
            </ul>

        </div>


    </div>
</div>
